<!DOCTYPE html>
<html lang="ko"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorator="~{/layout}">

<section layout:fragment="content">

  <div class="table_box">
    <table class="order_list">
      <thead>
      <tr>
        <th>SEQ</th>
        <th>고객ID</th>
        <th>거래일시</th>
        <th>상품명</th>
        <th>단가</th>
        <th>수량</th>
        <th>합계</th>
      </tr>
      </thead>
      <tbody>
      <tr class="order_tr" th:each="SALE:${SALES}" th:data-id="${SALE.seq}">
        <td th:text="${SALE.seq}">B001</td>
        <td th:text="${SALE.userid}">롯데상사</td>
        <td th:text="${SALE.date}">02-000-0000</td>
        <td th:text="${SALE.pname}">서울시 영등포구</td>
        <td th:text="${SALE.amt}">홍길동</td>
        <td th:text="${SALE.qty}">000-0000-0000</td>
        <td th:text="${SALE.total}">9,303</td>
      </tr>
      </tbody>
    </table>
  </div>

</section>
</html>