<!DOCTYPE html>
<html lang="ko"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}">

<script th:inlin="javascript">
    const userid = /*[[ ${BUYER.userid} ]]*/ null
</script>

<div class="detail_box" layout:fragment="content">
    <div>
        <label>USER</label><span th:text="${SALE.userid}">USER</span>
        <label>상품명</label><span th:text="${SALE.pname}">상품명</span>
    </div>
    <div>
        <label>단가</label><span th:text="${SALE.qty}">0</span>
        <label>수량</label><span th:text="${SALE.amt}">0</span>
    </div>
    <div>
        <label>금액</label><span th:text="${SALE.total}">0</span>
    </div>
    <div>
        <button class="btn_update">주문정보 수정</button>
        <button class="btn_delete btn_warring">주문정보 삭제</button>
        <button class="btn_list">리스트로 가기</button>
    </div>
    </div>


</div>

</html>