<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">

    <div class="table_box" layout:fragment="content">
        <table class="buyer_list">
            <tr>
                <th>고객ID</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>주소</th>
                <th>담당자명</th>
                <th>담당자연락처</th>
                <th>매출액합계(만원)</th>
            </tr>

            <tr class="buyer_tr" th:each="USER:${USERS}" th:data-id="${USER.userid}">
                <td th:text="${USER.userid}">B001</td>
                <td th:text="${USER.name}">롯데상사</td>
                <td th:text="${USER.tel}">02-000-0000</td>
                <td th:text="${USER.address}">서울시 영등포구</td>
                <td th:text="${USER.manager}">홍길동</td>
                <td th:text="${USER.man_tel}">000-0000-0000</td>
                <td th:text="${USER.buy_total}">9,303</td>
            </tr>

        </table>
    </div>

</html>