* {
        margin : 0;
        padding : 0;
        box-sizing : border-box;
        text-align : center;
    }

 table {
        border-collapse : collapse;
 }

    header {
        width : 100%;
        padding : 30px;
        background-color : #ccc;
        text-align : center;
    }

    nav {
        background-color : black;
        padding : 5px
    }

    nav ul {
        display : flex;
    }

    nav ul li {
        display:inline-block;
        list-style : none;
        color : white;
        padding : 10px;
    }

    nav ul li:hover {
        cursor : pointer;
        font-weight:700;
    }

    nav ul li:nth-of-type(4){
        margin-left:auto;
        margin-right : 15px;
    }

    div.table_box {
        width : 100vw;
        display:flex;
	    padding : 20px;
    }

    table.buyer_list, table.order_list {
        width : 85%;
    }

    table.buyer_list th, table.order_list th{
        padding : 6px ;
        background-color : #ddd;
    }

      table.buyer_list td,table.order_list td{
        padding : 6px ;

      }


    footer {
        background-color:black;
        color:white;
        text-align:center;
        width:100vw;
        padding:1rem;
    }
