
section.write_box {
    width: 100vw;
}

.table_box {
    width: 100%;
    display: flex;
    justify-items: center;
    align-content: center;
}

table.write_table {
    width: 90%;
    margin: 15px auto;
}

table.write_table td{
    padding: 0.5rem;
}

table.write_table input{
    height: 45px;
    width: 100%;
    border: 1px solid blueviolet ;
    text-align: left;
    padding: 0.5rem;
}

table.write_table input:focus {
    outline: none;
    border: none;
    background-color:thistle ;
}

.btn_box {
    width: 100%;
    display: flex;
}

.btn_box button{
    padding: 1rem;
    background-color: indigo;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 15px;
    cursor: pointer;
}

.btn_box button:first-of-type {
    margin-left: auto;
}
.btn_box button:last-of-type {
    margin-right: 5%;
}
