<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script th:inline="javascript">const rootPath=/*[[@{/}]]*/ null</script>

    <title>독서록</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/write.css}">

</head>


<body>

    <header>
        <h2>책책책 책을읽읍시다</h2>
        <p>독서록 2021 v.01.00.00</p>
    </header>


    <th:block layout:fragment="content"></th:block>

</body>

<footer>
    <address>CopyRight @ cho.ay4@gmail.com</address>
</footer>

</html>